:root{
    --main-color: #F7FAFC;
    --main-font: sans-serif; 
    --sec-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    --main-font-color:rgb(26, 32, 44);
    --sec-font-color:#5d646d;
    --accent-color:#1A0441;
    --accent-color-m:#34126e;
  }
  .login-page{
    overflow: hidden;
    height: 100vh;
    background-color: var(--main-color);
      padding: 0;
      margin: 0;
      font-family: var(--main-font);
      color: var(--main-font-color);
      background-image: url(../../assets/logobackground.png);
      background-size: 40% auto;
      background-repeat: no-repeat;
      background-position: 110% -1000%;
      display: flex;
      flex-direction: column;
      .navbar{
        width: 60vw;
      }
  }
  .login{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form{
    margin-right: 25%;
    margin-bottom: 10%;
    padding: 2rem;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    h1{
      font-family: var(--sec-font);
      font-size: 32px;
      font-weight: 700;
      color: var(--accent-color);
    }
    p{
      font-family: var(--main-font); ;
      font-weight: 700;
      color: var(--sec-font-color);
    }
    a{
      text-decoration: none;
      color: var(--accent-color-m);
      font-weight: 700;
      font-family: var(--main-font);
    }
    button{
        background-color: var(--accent-color);
        margin-top: 2vw;
        margin-bottom: 1vw;
        width: 100%;
        padding: 0.75rem;
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;
        font-family: var(--main-font);
        font-weight: 700;

        &:hover{
            background-color: var(--accent-color-m);
        }
    }
    input{
    height:2rem;
    width:95%;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #CBD5E0;

    }
    label{
        margin-left: 0.25vw;
        margin-bottom: 0.5vh;
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;  
    }
  }
  