:root{
    --main-color: #F7FAFC;
    --main-font: sans-serif; 
    --sec-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    --main-font-color:rgb(26, 32, 44);
    --sec-font-color:#5d646d;
    --accent-color:#1A0441;
    --accent-color-m:#34126e;
  }
html{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    border-radius: 15px;
    height:7vh;
    margin: 10px auto;
    backdrop-filter: blur(10px);
    background-color: var(--main-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.288);
    z-index: 1000;

    &>*{
        margin: 0 1.5vw;
    }
    a{
        text-decoration: none;
        margin-right: 10px;
    }
}
.navbar-links{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 0 auto;

*{  
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-weight: 600;
}
svg{
    height: 20px;
}
}
.dashboard-link, .login-link, .register-link, .user-link{
    display: flex;
    align-items: center;
    gap: 2px;
}